* {
  box-sizing: border-box;
  font-family: InterVariable, -apple-system, Helvetica, Arial,
    BlinkMacSystemFont, Segoe UI, Roboto, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
}
/* styling for nav */
.nav1 {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: white;
  margin: 0;
  padding: 0;
}
.list1 {
  margin-left: 20px;
}
.list2 {
  margin-right: 450px;
}
.list2 h2 {
  color: rgb(0, 162, 255);
}
.list3 {
  margin-left: 450px;
  font-size: 14px;
  color: grey;
  font-weight: 500;
}
.list4 {
  margin-right: px;
  margin-left: 10px;
}
.btn-1 {
  border: 1px solid rgb(174, 174, 174);
  padding: 10px 20px 10px 20px;
  background-color: white;
  color: black;
  border-radius: 7px 7px 7px 7px;
  font-size: 14px;
  font-weight: 400;
}

section fieldset {
  border: none;
}
/* Css for labels and inputs */
.label-1 {
  font-size: 16px;
  margin-top: px;
}
.first-p {
  margin-bottom: 40px;
  text-align: center;
}
.input-1 {
  height: 45px;
  width: 190px;
  border-radius: 6px 6px 6px 6px;
  font-size: 15px;
  padding-left: 20px;
}
.input-1 .section-1 {
  display: flex;
}
.input-2 {
  height: 45px;
  width: 400px;
  border-radius: 6px 6px 6px 6px;
  padding-left: 20px;
  font-size: 15px;
}
/* Css for submit button */
.btn-2 {
  width: 200px;
  border: 1px solid rgb(174, 174, 174);
  padding: 10px 20px 10px 20px;
  background-color: white;
  color: black;
  border-radius: 7px 7px 7px 7px;
  font-size: 14px;
  font-weight: 400;
  margin: 6px;
  background-color: rgb(120, 207, 178);
  cursor: pointer;
}
.btn-2:hover {
  background-color: beige;
  border: 1px solid rgb(120, 207, 178);
}
/* Css for white wrapper */
.main-field {
  background-color: white;
  width: 400px;
  margin: 0 auto;
  border: 0;
  height: 600px;
  border-radius: 7px 7px 7px 7px;
}
.section-3 {
  margin-left: 100px;
}
/* css for body */
body {
  background-image: url(/Images/mountains-g808fdaea2_1920.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
h1 {
  text-align: center;
}
.section-1 {
  display: flex;
}
